<!DOCTYPE html>
<html>

<head>
    <title>Pub/Sub</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        #current-sub-wrapper {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <H3>PubSub Admin!</H3>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s3 input-field">
                <h5>Init:</h5>
            </div>
            <div class="input-field col s1 center-align">
                <button id="init-button" type="button" class="btn waves-effect waves-light">Init</button>
            </div>
            <div class="input-field col s1 center-align">
                <div class="preloader-wrapper small" id="init-preloader">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-field col s3 center-align">
                Results: <span id="init-result-count"></span>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s5 input-field">
                <h5>Topic/Sub Selection:</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                Topic:
            </div>
            <div class="col s6 input-field">
                <select name="topic" id="topic">
                    <option value="" disabled selected>Choose a topic</option>
                    {{ range $_, $topic := .Topics }}
                    <option value="{{ $topic.ID }}">{{ $topic.ID }}</option>
                    {{ end }}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                Sub:
            </div>
            <div class="col s3 input-field">
                <label>
                    <input type="checkbox" id="current-sub-chk-box" />
                    <span>Current Sub</span>
                </label>
            </div>
            <div class="col s3 input-field" id="current-sub-wrapper">
                <select name="current-sub" id="current-sub">
                    <option value="" disabled selected>Choose a sub</option>
                </select>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s5 input-field">
                <h5>Subscription Policy:</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                Minimum Backoff:
            </div>
            <div class="col s3 input-field">
                <input id="minimum-backoff" type="text" value="">
                <span class="helper-text">Unlimited=0</span>
            </div>
            <div class="col s3 input-field">
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                Maximum Backoff:
            </div>
            <div class="col s3 input-field">
                <input id="maximum-backoff" type="text" value="">
                <span class="helper-text">Seconds, Unlimited Timeout=0</span>
            </div>
            <div class="col s3 input-field">
            </div>
        </div>
        <div class="row">
            <div class="col s3 input-field">
                &nbsp;
            </div>
            <div class="input-field col s1 center-align">
                <button id="read-sub-policy-button" type="button" class="btn waves-effect waves-light">Read</button>
            </div>
            <div class="input-field col s1 center-align">
                &nbsp;
            </div>
            <div class="input-field col s1 center-align">
                <button id="update-sub-policy-button" type="button" class="btn waves-effect waves-light">Update</button>
            </div>
            <div class="input-field col s1 center-align">
                <div class="preloader-wrapper small" id="sub-policy-preloader">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-field col s3 center-align">
                Results: <span id="sub-policy-result-count"></span>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s5 input-field">
                <h5>Pull:</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                Messasges Limit on Pull:
            </div>
            <div class="col s3 input-field">
                <input id="limit" type="text" value="0">
                <span class="helper-text">Unlimited=0</span>
            </div>
            <div class="col s3 input-field">
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                Timeout for Pull:
            </div>
            <div class="col s3 input-field">
                <input id="timeout" type="text" value="5">
                <span class="helper-text">Seconds, Unlimited Timeout=0</span>
            </div>
            <div class="col s3 input-field">
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                Ack pulled messages:
            </div>
            <div class="col s3 input-field">
                <label>
                    <input type="checkbox" id="ack-chk-box" checked />
                    <span>Yes</span>
                </label>
            </div>
            <div class="col s3 input-field">
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                &nbsp;
            </div>
            <div class="input-field col s1 center-align">
                <button type="button" class="btn waves-effect waves-light" id="pull-button">Pull</button>
            </div>
            <div class="input-field col s1 center-align">
                <div class="preloader-wrapper small" id="pull-preloader">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-field col s3 center-align">
                Results: <span id="pull-result-count"></span>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s5 input-field">
                <h5>Query:</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s2 input-field">
                &nbsp;
            </div>
            <div class="col s8 input-field">
                SELECT * FROM `message` WHERE <textarea id="query" class="materialize-textarea">1=1</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                &nbsp;
            </div>
            <div class="input-field col s1 center-align">
                <button id="query-button" type="button" class="btn waves-effect waves-light">Query</button>
            </div>
            <div class="input-field col s1 center-align">
                <div class="preloader-wrapper small" id="query-preloader">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-field col s3 center-align">
                Results: <span id="query-result-count"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table class="striped" id="data-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Sub</th>
                            <th>Data</th>
                            <th>Attribute</th>
                            <th>Publish Time</th>
                            <th>Delivery Attempts</th>
                            <th>OrderingKey</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function () {
                $('select').formSelect();

                $('#topic').on('change', function () {
                    curr_topic = $('select#topic').val()
                    console.log(curr_topic)
                    var selectElement = document.getElementById('current-sub');
                    if (!curr_topic) {
                        clearSelect($('#current-sub'))
                        return
                    }

                    $.ajax({
                        type: "GET",
                        url: "/sub",
                        data: {
                            topic_id: curr_topic
                        },
                        success: function (data) {
                            console.log(data)
                            if (!data.length) {
                                clearSelect($('#current-sub'))
                                return
                            }
                            Object.entries(data).forEach((entry) => {
                                const [key, value] = entry;
                                selectElement.add(new Option(value.id, value.id));
                            });

                            $('#current-sub').formSelect();
                        },
                        error: function () {
                            console.log('it broke');
                            selectElement.find('option').not(':first').remove();
                        },
                        complete: function () {
                            console.log('it completed');
                        }
                    });

                });

                $('#current-sub-chk-box').on('change', function () {
                    if (!this.checked) {
                        $("#current-sub-wrapper").hide()
                    } else {
                        $("#current-sub-wrapper").show()
                    }
                })

                $('#pull-button').on('click', function () {
                    curr_sub = $('#current-sub').val()
                    if (!curr_sub) {
                        $('#pull-result-count').html(
                            "<span style=\"color:red\">Sub is required!</span>");
                        return
                    }

                    $('#pull-result-count').html("<span style=\"color:blue\">Pulling</span>");
                    $("#pull-preloader").addClass("active")
                    $.ajax({
                        type: 'POST',
                        url: "pull",
                        data: {
                            sub_id: curr_sub,
                            timeout: $('#timeout').val(),
                            limit: $('#limit').val(),
                            is_ack: $('#ack-chk-box')[0].checked,
                        },
                        success: function (data) {
                            console.log(data)
                            console.log('pull success');
                            $('#pull-result-count').html(
                                `<span style="color:green">Pulled total ${data.TotalRecived} messages. Inserted: ${data.Inserted} and Duplicate: ${data.Duplicate}</span>`
                            );
                        },
                        error: function (data) {
                            console.log(data)
                            console.log('pull broken');
                            $('#pull-result-count').html(
                                "<span style=\"color:red\">Failed!</span>");
                        },
                        complete: function () {
                            $("#pull-preloader").removeClass("active")
                        }
                    });
                });

                $('#query-button').on('click', function () {
                    query = $('#query').val()
                    if (!query) {
                        $('#query-result-count').html(
                            "<span style=\"color:red\">Query is required!</span>");
                        return
                    }

                    $('#query-result-count').html("<span style=\"color:blue\">Quering</span>");
                    $("#query-preloader").addClass("active")
                    $.ajax({
                        type: 'GET',
                        url: "query",
                        data: {
                            query: query
                        },
                        success: function (data) {
                            console.log(data)
                            console.log('query success');
                            table = $('#data-table')
                            $('#data-table tbody').empty();
                            if (!data) {
                                $('#query-result-count').html(
                                    "<span style=\"color:green\">No row!</span>");
                                return
                            }
                            Object.entries(data).forEach((entry) => {
                                const [key, value] = entry;
                                table.find('tbody').append(
                                    `<tr>
                                    <td>${value.MessageId.Valid?value.MessageId.String:"null"}</td>
                                    <td>${value.Subscription.Valid?value.Subscription.String:"null"}</td>
                                    <td>${value.Data.Valid?value.Data.String:"null"}</td>
                                    <td>${value.Attribute.Valid?value.Attribute.String:"null"}</td>
                                    <td>${value.PublishTime.Valid?value.PublishTime.Time:"null"}</td>
                                    <td>${value.DeliveryAttempt.Valid?value.DeliveryAttempt.Int32:"null"}</td>
                                    <td>${value.OrderingKey.Valid?value.OrderingKey.String:"null"}</td>
                                </tr>`
                                );
                            });
                            $('#query-result-count').html(
                                `<span style="color:green">${Object.keys(data).length} rows</span>`
                            );
                        },
                        error: function (data) {
                            console.log(data)
                            console.log('query broken');
                            $('#query-result-count').html(
                                "<span style=\"color:red\">Query failed!</span>");
                        },
                        complete: function () {
                            $("#query-preloader").removeClass("active")
                        }
                    });
                })

                $('#init-button').on('click', function () {
                    $('#init-result-count').html("<span style=\"color:blue\">Initializing</span>");
                    $("#init-preloader").addClass("active")
                    $.ajax({
                        type: 'POST',
                        url: "init",
                        data: {},
                        success: function (data) {
                            console.log(data)
                            $('#init-result-count').html(
                                "<span style=\"color:green\">Init was succesfull!</span>"
                            );
                        },
                        error: function (data) {
                            console.log(data)
                            $('#init-result-count').html(
                                "<span style=\"color:red\">Init failed!</span>");
                        },
                        complete: function () {
                            $("#init-preloader").removeClass("active")
                        }
                    });
                })

                $('#read-sub-policy-button').on('click', function () {
                    curr_sub = $('#current-sub').val()
                    if (!curr_sub) {
                        $('#sub-policy-result-count').html(
                            "<span style=\"color:red\">Sub is required!</span>");
                        return
                    }

                    $('#sub-policy-result-count').html("<span style=\"color:blue\">Reading</span>");
                    $("#sub-policy-preloader").addClass("active")
                    $.ajax({
                        type: 'GET',
                        url: `/sub/${curr_sub}/sub_policy`,
                        data: {},
                        success: function (data) {
                            if (!data) {
                                $('#sub-policy-result-count').html(
                                    "<span style=\"color:green\">No policy found</span>"
                                );
                                return
                            }
                            console.log(data)
                            $("#minimum-backoff").val(data["MinimumBackoff"])
                            $("#maximum-backoff").val(data["MaximumBackoff"])

                            $('#sub-policy-result-count').html(
                                "<span style=\"color:green\">Read was succesfull!</span>"
                            );
                        },
                        error: function (data) {
                            console.log(data)
                            $('#sub-policy-result-count').html(
                                "<span style=\"color:red\">Read failed!</span>");
                        },
                        complete: function () {
                            $("#sub-policy-preloader").removeClass("active")
                        }
                    });
                })

                $('#update-sub-policy-button').on('click', function () {
                    curr_sub = $('#current-sub').val()
                    if (!curr_sub) {
                        $('#sub-policy-result-count').html(
                            "<span style=\"color:red\">Sub is required!</span>");
                        return
                    }

                    $('#sub-policy-result-count').html("<span style=\"color:blue\">Updating</span>");
                    $("#sub-policy-preloader").addClass("active")
                    $.ajax({
                        type: 'POST',
                        url: `/sub/${curr_sub}/sub_policy`,
                        data: {
                            MinimumBackoff: $("#minimum-backoff").val(),
                            MaximumBackoff: $("#maximum-backoff").val()
                        },
                        success: function (data) {
                            console.log(data)
                            $('#sub-policy-result-count').html(
                                "<span style=\"color:green\">Update was succesfull!</span>"
                            );
                        },
                        error: function (data) {
                            console.log(data)
                            $('#sub-policy-result-count').html(
                                "<span style=\"color:red\">Update failed!</span>");
                        },
                        complete: function () {
                            $("#sub-policy-preloader").removeClass("active")
                        }
                    });
                })
            });

            const clearSelect = function (selectElement) {
                selectElement.find('option').not(':first').remove();
                selectElement.formSelect();
            }
        </script>
</body>

</html>